body{
    font-family: 'Poppins', sans-serif;
}

td{
    margin: auto;
    text-align: center;
    font-size: 3vh;
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.cell1, .cell3, .cell5, .cell7, .cell9{
    background-color: rgb(0, 112, 107);
}
.cell1:hover, .cell3:hover, .cell5:hover, .cell7:hover, .cell9:hover{
    background-color: white;
}

.cell2, .cell4, .cell6, .cell8{
    background-color: white;
}

.cell2:hover, .cell4:hover, .cell6:hover, .cell8:hover{
    background-color: rgb(0, 112, 107);
}
